# Local workspace files
.vscode/*
GIZMO-PBHEF.code-workspace
.DS_Store

# Ignore initial condition files and exact solutions in  test problems
scripts/test_problems/ics/*
scripts/test_problems/exact_solutions/*
scripts/test_problems/outputs/*

# Ignore compilation files
*.o
*.mod
*.out
compile_time_info.c
GIZMO_config.h
GIZMO*
ewald*.dat
